body {
    font-family: 'Roboto';
    background-color: #ECEDDC;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

h2 span {
    font-weight: bold;
}

.mb-4{
    color: #055E66;
    font-weight: bold;
    font-size: 2.5em
}

.mb-3{
    color: #055E66;
    font-size: 1em;
}

/* From Uiverse.io by omar-alghaish */ 
.card {
    width: 200px;
    height: 270px;
    animation: animate_6810 15s;
    transition: .3s;
    background-size: 60px 60px;
    position: relative;
    overflow: visible;
    border-radius: 20px;
  }

  .card-1 {
    background-image: url('../images/scott-webb-_PdZdW7fiDc-unsplash.jpg');
    background-size: cover;
}

.card-2 {
  background-image: url('../images/jason-briscoe-KTrov7eujms-unsplash.jpg');
  background-size: cover;
}

.card-3 {
  background-image: url('../images/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg');
  background-size: cover;
}

.card-4 {
  background-image: url('../images/alexander-grey-cfKO58M1QpY-unsplash.jpg');
  background-size: cover;
}
  .card-info {
    position: absolute;
    width: 96%;
    height: 96%;
    left: 2%;
    top: 2%;
    background-color: rgb(24, 22, 22);
    border-radius: 20px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-info:hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    backdrop-filter: blur(8px);
    left: 20px;
    top: 20px;
  }
  
  .card-info p {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  
  @keyframes animate_6810 {
    0% {
      background-position: 0px;
    }
  
    100% {
      background-position: 1000px;
    }
  }
  
footer {
    font-size: 0.9rem;
}

